@keyframes myAnim {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 602px);
  padding-right: calc(50% - 602px);
}


.top {
  height: 719px;
  background-image: url(img/topbackground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 16px;
}

.header-index {
  line-height: 47px;
  display: flex;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 4px;
  padding-right: 4px;
 
}
.header {
  line-height: 47px;
  display: flex;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 16px;
  padding-left: 4px;
  padding-right: 4px;
}
 
.logo {
  padding-top: 9px;
}

.logo-mobile {
  display: none;
}

.header-input {
  width: 288px;
  height: 41px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding-left: 33px;
  padding-right: 33px;
  box-sizing: border-box;

}

.header-input::-moz-placeholder {
  color: #FFFFFF;
}

.header-input:-ms-input-placeholder {
  color: #FFFFFF;
}

.header-input::placeholder {
  color: #FFFFFF;
}

.menu {
  display: flex;
  gap: 32px;
  margin-top: 13px;
}

.menu-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  transition: all .5s ease;
}

.menu-link:hover {
  color: #888888;
}

.menu-mobile {
  display: none;
}

.heading {
  font-weight: 600;
  font-size: 63.5px;
  line-height: 70px;
  font-style: normal;
  color: #FFFFFF;
  margin-top: 66px;
  margin-bottom: 16px;
  max-width: 750px;
}

.slogan {
  font-size: 24px;
  line-height: 32px;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 13px;
}

.more {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
  transition: all .5s ease;
}

.more:hover {
  color: #888888;
  text-decoration-line: none;
}

.link-go {
  padding-top: 39px;
  padding-bottom: 93px;
}

.more-section {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: black;
  transition: all .5s ease;
}

.more-section:hover {
  color: #888888;
  text-decoration: none !important;
}

.heading-special {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  font-style: normal;
  align-items: center;
  margin-top: 63px;
}

.heading-title-index {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  font-style: normal;
  align-items: center;
  margin-top: 71px;
}

.heading-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  font-style: normal;
  align-items: center;
  margin-top: 66px;
}

.heading-for {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  padding-left: 2px;
}

.for__box {
  padding-top: 64px;
}

.for {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 31px;
}

.for__iteam {
  height: 416px;
  grid-column: span 4;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.for__iteam:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #ccc;
}

.for__iteam--big {
  grid-column: span 6;
}

.for__iteam--1 {
  background-image: url(img/for1.jpg);
}

.for__iteam--2 {
  background-image: url(img/for2.jpg);
  height: 381px;
  padding-bottom: 36px;
}

.for__iteam--3 {
  background-image: url(img/for3.jpg);
}

.for__iteam--4 {
  background-image: url(img/for4.jpg);
}

.for__iteam--5 {
  background-image: url(img/for5.jpg);
}

.subject {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 11px;
  margin-bottom: 9px;
}

.subject-catalog {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 11px;
  margin-bottom: 9px;
}

.subtitle {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
  width: 379px;
}

.subtitle-catalog {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
  width: 379px;
}

.active {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.active-catalog {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.hidden {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #888888;
}

.footer__conte {
  display: flex;
}

.footer__conte--cart {
  display: flex;
}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.caption {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  font-style: normal;
  padding-bottom: 1px;
}

.all {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
  font-style: normal;
}

.all:hover {
  color: grey;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
          transition: all .5s ease;
}

.desc {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  padding-bottom: 1px;
}

.text {
  max-width: 275px;
  height: 46px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
  background: #FFFFFF;
  font-weight: 400;
  padding-left: 25px;
  padding-right: 25px;
}

.text ::-moz-placeholder {
  color: #C4C4C4;
}

.text :-ms-input-placeholder {
  color: #C4C4C4;
}

.text ::placeholder {
  color: #C4C4C4;
}

.btn {
  background: rgba(222, 215, 215, 0.041);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  max-width: 275px;
  height: 46px;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background: linear-gradient(0deg, rgba(222, 215, 215, 0.41), rgba(222, 215, 215, 0.41)), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  transition: all .5s ease;
}

.btn:hover {
  color: #FFFFFF;
  background: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
}

.product {
  width: 379px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}

.product:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #ccc;
}

.title-mobile {
  display: none;
}

.product__box {
  margin-left: 3px;
}

.product__box--center {
  margin-left: 2px;
}

.product__img {
  width: 100%;
}

.product__img--catalog {
  width: 100%;
}

.product__content {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 56px;
}

.product__content--catalog {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 32px;
       column-gap: 32px;
       row-gap: 65px;
}

.product__box--price {
  display: flex;
  gap: 37px;
  margin-top: 3px;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #f7f6f6;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__contact--cart {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__input {
  padding-left: 180px;
  padding-right: 20px;
}

.footer__center--index {
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f6f6;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 2px;
}

.footer__center {
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f6f6;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 31px;
}

.footer__center--cart {
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f6f6;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 2px;
}

.footer__img {
  padding-top: 9px;
  padding-left: 5px;
}

.footer__info {
  padding-right: 129px;
}

.footer__info--index {
  padding-right: 129px;
}

.footer__pod {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.inst {
  fill:inherit;
  stroke:inherit;
  stroke-width:inherit;
  transition: all .5s ease;
 }

.svg {
 fill:#888888;
}

.svg:hover {
  fill:black;
}

.top-catalog {
  height: 336px;
  background-image: url(img/catalogfotomain.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 64px;
}

.heading-catalog {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  font-style: normal;
  color: #FFFFFF;
  margin-top: 127px;
  margin-bottom: 126px;
}

.nav-catalog {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: black;
  transition: all .5s ease;
}

.nav-catalog:hover {
  color: black;
}

.href-catalog {
  color: black;
  transition: all .5s ease;
}

.href-catalog:hover {
  color: #888888;
}

.href-catalog:not(:last-child)::after {
  content: "/";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.select-catalog {
  font-style: normal;
  color: #000000;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  width: 288px;
  height: 41px;
  box-sizing: border-box;
  outline: none;
  padding-left: 14px;
  padding-top: 11px;
  padding-bottom: 10px;
}

.select {
  border: none;
  font-size: 16px;
}

.box-info {
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
}

.link-go-catalog {
  padding-top: 40px;
  padding-bottom: 64px;
}

.top-cart {
  height: 400px;
  background-image: url(img/topcart.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.heading-big-top {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
  margin-top: 127px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}

.cart-img {
  align-self: flex-start;
}

.cart__name-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  padding-right: 29px;
  padding-left: 9px;
}

.cart__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}

.cart__price {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #050505;
}

.cart__link-bx {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 210%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
  transition: all .5s ease;
}

.cart__iteam {
  border-top: 0.5px solid #CACDD8;
  padding-bottom: 32px;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 4px;
}

.cart__left {
  display: flex;
  gap: 32px;
}

.cart__info {
  width: 276px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.cart__name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.cart__content {
  grid-column: span 8;
}

.form-info {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000;
  padding-bottom: 18px;
  padding-right: 5px;
}

.number {
  border: none;
  background: #F7F6F6;
  border-radius: 6px;
  width: 71px;
  height: 51px;
  text-align: center;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  padding-right: 13px;
}

.button-cart {
  padding-left: 4px;
}

.button-iteam {
  width: 200px;
  height: 37px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 50px;
  background-color: transparent;
  margin-top: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #020202;
  padding-right: 9px;
  transition: all .5s ease;
}

.button-iteam:hover {
  background: #000000;
  color: #FFFFFF;
}

.cart__form {
  display: grid;
  grid-column: span 4;
  background: #F7F6F6;
  border-radius: 20px;
}

.form-text-title {
  margin-top: 42px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  display: flex;
  justify-content: center;
}

.form-box {
  display: flex;
  flex-direction: column;
  margin-left: 27px;
  margin-right: 64px;
  gap: 41px;
  padding-top: 35px;
  padding-bottom: 61px;
}

.cart__input {
border: none;
border-bottom: 1px solid #CACDD8;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #000000;
background-color: transparent;
outline: none;
padding-bottom: 3px;
}

.cart__input::placeholder {
  color: black;
}

.btn-cart {
  background: rgba(222, 215, 215, 0.041);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 18px;
  width: 290px;
  height: 41px;
  line-height: 19px;
  font-size: 16px;
  color: #000000;
  background: linear-gradient(0deg, rgba(222, 215, 215, 0.41), rgba(222, 215, 215, 0.41)), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  margin-left: 51px;
  animation: myAnim 1s ease 2s infinite normal forwards;
}

.btn-cart:hover {
  color:white;
  background: black;
}

.cart__link-box {
  display: flex;
  gap: 32px;
}
.cart__link-bx:hover {
  color: #888888;
  text-decoration-line: none;
}

@media (max-width: 1024px) {
  .center {
      padding-left: calc(50% - 786px/2);
      padding-right: calc(50% - 786px/2);
  }
  .for {
    margin-top: 32px;
  }

  .for__iteam--big {
    height: 265px;
    }

    .for__iteam--2 {
      padding-bottom: 0;
    }

    .for__iteam--3 {
      height: 265px;
    }

    .for__iteam--4 {
      height: 265px;
    }

    .for__iteam--5 {
      height: 265px;
    }

    .heading-special {
      margin-top: 66px;
    }

    .heading-title {
    margin-top: 66px;
    }

    .heading-title-index {
      margin-top: 66px;
    }

    .product__content {
      column-gap: 28px;
      row-gap: 39px;
    }

   .title-mobile {
    display: none;
    }
  
  .cart__content {
    grid-column: span 12;
   }

  .cart__iteam {
      padding-left: 0;
   }

  .btn-cart {
   margin-left: 43px;
   margin-right: 26px; 
   }

  .button-iteam {
    margin-top: 3px;
    margin-bottom: 64px;
   }

  .product__box {
    margin-left: 0;
   } 

  .product__content--catalog {
    column-gap: 27px;
    row-gap: 40px;
    }

  .form-text {
    background: #F7F6F6;
    border-radius: 20px;
    padding-bottom: 147px;
   }

  .footer__img {
    display: none;
   }

  .footer__center--index {
    padding-top: 16px;
    justify-content: flex-start;
   }

  .footer__center {
    padding-top: 30px;
    justify-content: flex-start;
   }

  .link-go {
    padding-bottom: 83px;
    padding-top: 33px;
   }

  .footer__input {
    padding-left: 145px;
    padding-right: 0;
    width: 290px;
   }

  .icon {
    display: none;
   }

  .form {
    padding-right: 24px;
   }

  .form-text-title {
    margin-top: 9px;
    padding-left: 26px;
   }

  .form-info {
    padding-left: 15px;
  }
  .form-box {
    margin-left: 30px;
   }

  .footer__info {
    padding-right: 130px;
   }

  .footer__info--index {
    padding-right: 130px;
   }

 .footer__contact {
    padding-right: 20px;
   }

 .footer__contact--cart {
    padding-right: 20px;
   }

  .footer__conte--cart {
    padding-top: 10px;
    padding-right: 10px;
   }

  .cart__iteam {
    padding-left: 0;
   }

  .button-cart {
    padding-left: 0;
   }
}

@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }

  .cart__content {
    grid-column: span 12;
  }

  .button-iteam {
      margin-top: 32px;
      margin-bottom: 64px;
  }

  .product {
    width: 345px;
  }

  .btn-cart {
    margin-left: 26px;
    margin-right: 26px;
  }

 .footer-conte {
  gap: 120px;
  }
}



@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }

  .top {
     background-image: url(img/indexmobile.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
  }

  .top-catalog {
    background-image: url(img/catalogmobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

 .top-cart {
  background-image: url(img/cartmobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
 }

 .heading {
    margin-top: 32px;
  }

 .header {
    padding-top: 42px;
    border: none;
  } 

  .header-index {
    margin-top: 26px;
    border: none;
  }

  .header-input {
    display: none;
  }

  .menu {
    display: none;
  }

  .logo {
    display: none;
  }

  .logo-mobile {
    display: flex;
    padding-top: 0;
  }

.menu-mobile {
  display: flex;
  gap: 32px;
  align-items: center;
}

.heading {
  line-height: 59px;
  font-size: 48px;
  text-align: center;
}

.slogan {
  font-size: 16px;
  line-height: 32px;
  text-align: center;
}

.more {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-for {
  font-size: 24px;
  line-height: 29px;
  padding-left: 16px;
}

.for {
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-left: 17px;
  margin-right: 16px;
}
.for__box {
  padding-top: 32px;
  padding-left: 0;
  padding-right: 0;
}

.for__iteam {
  grid-column: 1/-1;
  font-size: 28px;
  line-height: 34px;
}

.for__iteam--big {
  height: 243px;
}

.for__iteam--3 {
  height: 375px;
}

.for__iteam--4 {
  height: 375px;
}

.for__iteam--5 {
  height: 375px;
}

.cart {
  margin-top: 130px;
}

.cart__info {
  gap: 10px;
}

.heading-title {
  font-size: 24px;
  padding-left: 15px;
  line-height: 29px;
  font-weight: 600;
  display: flex;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
 }

 .heading-title-index {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding-left: 17px;
 }

.subject {
  font-size: 18px;
  line-height: 22px;
  padding-left: 16px;
}

.subtitle {
  width: 343px;
  margin-bottom: 0;
  line-height: 19px;
  height: 52px;
  padding-left: 16px;
    display: flex;
    flex-wrap: wrap;
}

.active {
  font-size: 18px;
  line-height: 22px;
  padding-left: 16px;
  margin-top: 3px;
}

.subject-catalog {
  font-size: 18px;
  line-height: 22px;
}

.subtitle-catalog {
  width: 343px;
  margin-bottom: 0;
  line-height: 19px;
  height: 52px;
  
    display: flex;
    flex-wrap: wrap;
}

.active-catalog {
  font-size: 18px;
  line-height: 22px;
  margin-top: 3px;
}

.hidden {
  font-size: 18px;
  line-height: 22px;
}

.link-go {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 32px;
  padding-top: 43px;
  padding-left: 18px;
}

.link-go-catalog {
  padding-top: 25px;
}

.icon {
  display: none;
}

.heading-special {
  font-size: 24px;
  line-height: 29px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 34px;
}

.heading-catalog {
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  margin-top: 85px;
}

.nav-catalog {
  padding-bottom: 16px;
  padding-top: 24px;
}

.href-catalog {
  font-size: 14px;
  line-height: 32px;
}

.select {
  font-size: 14px;
  line-height: 17px;
}

.box-info {
  display: flex;
  flex-wrap: wrap;
  padding-top: 7px;
}

.title-mobile {
  display: flex;
  font-size: 24px;
  line-height: 29px;
}

.product__img {
  width: 343px;
  height: 226px;
  padding-left: 16px;
 }

 .product__img--catalog {
  width: 343px;
  height: 226px;
 }

 .product__content {
  padding-left: 0;
  padding-right: 16px;
  row-gap: 27px;
 }

 .product__content--catalog {
  row-gap: 35px;
 }

 .product__box {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-wrap: wrap;
 }

 .product__box--price {
   margin-top: 0;
 }

 .product__box--center {
  padding-left: 0;
  padding-right: 0;
 }

.heading-big-top {
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  margin-top: 83px;
}

.cart__name-box {
  display: none;
}

.cart-img {
  display: none;
}

.cart__name {
  font-size: 18px;
  line-height: 22px;
}

.cart__text {
  font-size: 12px;
  line-height: 15px;
}

.cart__price {
  font-size: 12px;
  line-height: 15px;
  padding-top: 4px;
}

.cart__link-box {
  padding-top: 5px;
}

.cart__iteam {
  padding-bottom: 12px;
}

.form-text {
  padding-bottom: 129px;
  padding-top: 10px;
}

.btn-cart {
  margin-left: 26px;
  margin-right: 26px;
}

.button-iteam {
  font-size: 12px;
  line-height: 15px;
  width: 166px;
  margin-top: 32px;
  margin-bottom: 48px;
}

.footer__center--index {
  padding-top: 32px;
}

.footer__conte {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  }

.footer__info {
  padding-right: 100px;
  padding-bottom: 46px;
}

.footer__info--index {
  padding-right: 56px;
}
.footer__contact--cart {
  padding-right: 0;
}

.footer__conte--cart {
  padding-top: 34px;
  flex-wrap: wrap;
}

.footer__input {
  padding-left: 20px;
  padding-right: 20px;
 }

 .more-section {
  font-size: 16px;
 }

 .form-text-title {
  padding-left: 0;
 }

 .form-info {
  padding-left: 0;
 }
 
}

 



  /*# sourceMappingURL=style.css.map */





