* {
    margin: 0;
    padding: 0;
}

body,
button {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

a {
    text-decoration: none;
}

.top {
    height: 1024px;
    background-image: url(img/top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.heading {
    font-size: 64px;
    line-height: 78px;
    color: rgba(255, 255, 255, 1);
    width: 750px;
    padding-top: 201px;
    display: flex;
    flex-wrap: wrap;
}

.slogan {
    width: 481px;
    font-size: 18px;
    line-height: 32px;
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    padding-top: 17px;
}

.btn {
    font-size: 18px;
    line-height: 21px;
    color:rgba(255, 255, 255, 1);
    background: rgba(156, 3, 50, 1);
    box-sizing: border-box;
    border: 1px solid rgba(156, 3, 50, 1);
    border-radius: 20px;
    width: 232px;
    height: 49px;
    margin-top: 44px;
}

.game__go {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    color: black;
    background-image: url(img/Rectangle\ 5.jpg);
    height: 556px;
    align-items: center;
    justify-content: center;
}

.game__name {
    font-size: 24px;
    line-height: 32px;
    color:rgba(255, 255, 255, 1);
    font-weight: normal;
}

.game__1 {
    background-image: url(img/game1.png);
    width: 379px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    padding-left: 32px;
    padding-bottom: 32px;
}

.game__2 {
    background-image: url(img/game2.png);
    width: 379px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    padding-left: 32px;
    padding-bottom: 32px;
}

.game__3 {
    background-image: url(img/game3.png);
    width: 379px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    padding-left: 32px;
    padding-bottom: 32px;
}

@media(max-width:767px) {
    .center {
        padding-left: 10px;
        padding-right: 10px;
    }
    .top {
        background-image: url(img/topmoble.jpg);
        height: 735px;
    }
    .heading {
        font-size: 32px;
        width: 343px;
        line-height: 39px;
        text-align: center;
        padding-top: 238px;

   }

   .slogan {
    width: 343px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    padding-top: 33px;
    padding-left: 8px;
   }

   .btn {
    margin-left: 62px;
    margin-right: 62px;
    margin-top: 32px;
   }
   .game__go {
    height: 1221px;
    align-items: baseline;
    align-content: center;
   
   }
   .game__1 {
    width: 343px;
    background-image: url(img/game1mobile.png);
    padding-left: 15px;
   }
  
   .game__2 {
    width: 343px;
    background-image: url(img/game2mobile.png);
    padding-left: 15px;
   }

   .game__3 {
    width: 343px;
    background-image: url(img/game3mobile.png);
    padding-left: 15px;
   }

}