* {
    margin: 0;
    padding: 0;
}

body,
button {
    font-family: 'Montserrat', sans-serif;
    background:  rgba(0, 9, 21, 1);
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

a {
    text-decoration: none;
}

.top {
    height: 1024px;
    background-image: url(img/top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.heading {
    font-size: 64px;
    line-height: 78px;
    color: rgba(255, 255, 255, 1);
    width: 750px;
    padding-top: 201px;
    display: flex;
    flex-wrap: wrap;
}

.slogan {
    width: 481px;
    font-size: 18px;
    line-height: 32px;
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    padding-top: 17px;
}

.btn {
    font-size: 18px;
    line-height: 21px;
    color:rgba(255, 255, 255, 1);
    background: rgba(156, 3, 50, 1);
    box-sizing: border-box;
    border: 1px solid rgba(156, 3, 50, 1);
    border-radius: 20px;
    width: 232px;
    height: 49px;
    margin-top: 44px;
    transition: all .5s ease;
}

.btn:hover {
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
}

.game__go {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    color: black;
    background-image: url(img/Rectangle\ 5.jpg);
    height: 556px;
    align-items: center;
    justify-content: center;
}

.game__name {
    font-size: 24px;
    line-height: 32px;
    color:rgba(255, 255, 255, 1);
    font-weight: normal;
}

.game__1 {
    background-image: url(img/game1.png);
    width: 379px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    padding-left: 32px;
    padding-bottom: 32px;
    transition: all 0.3s;
}

.game__1:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px #ccc;
}

.game__2 {
    background-image: url(img/game2.png);
    width: 379px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    padding-left: 32px;
    padding-bottom: 32px;
    transition: all 0.3s;
}

.game__2:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px #ccc;
}

.game__3 {
    background-image: url(img/game3.png);
    width: 379px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    padding-left: 32px;
    padding-bottom: 32px;
    transition: all 0.3s;
}

.game__3:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px #ccc;
}

.game__info {
    margin-top: 234px;
    display: flex;
    flex-wrap: wrap;
    gap: 135px;
    text-align: left;
}

.game__info--1 {
    margin-top: 48px;
}

.game__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    color:rgba(255, 255, 255, 1);
    padding-bottom: 31px;
}

.slogan__info {
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    width: 584px;
    color:rgba(255, 255, 255, 1);

}

.btn__info {
    font-size: 18px;
    line-height: 21px;
    color:rgba(255, 255, 255, 1);
    background: rgba(156, 3, 50, 1);
    box-sizing: border-box;
    border: 1px solid rgba(156, 3, 50, 1);
    border-radius: 20px;
    width: 232px;
    height: 49px;
    margin-top: 33px;
    padding-right: 15px;
    transition: all .5s ease;
}

.btn__info:hover {
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
}

.game__info--img {
    width: 333px;
    height: 485px;
}

.game__info--imgMobile {
    display: none;
}

@media(max-width:767px) {
    .center {
        padding-left: 10px;
        padding-right: 10px;
    }

    .top {
        background-image: url(img/topmoble.jpg);
        height: 735px;
    }

    .heading {
        font-size: 32px;
        width: 343px;
        line-height: 39px;
        text-align: center;
        padding-top: 238px;
   }

   .slogan {
    width: 343px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    padding-top: 33px;
    padding-left: 8px;
   }

   .btn {
    margin-left: 62px;
    margin-right: 62px;
    margin-top: 32px;
   }

   .game__go {
    height: 1221px;
    align-items: baseline;
    align-content: center;
   }
   
   .game__1 {
    width: 343px;
    background-image: url(img/game1mobile.png);
    padding-left: 15px;
   }
  
   .game__2 {
    width: 343px;
    background-image: url(img/game2mobile.png);
    padding-left: 15px;
   }

   .game__3 {
    width: 343px;
    background-image: url(img/game3mobile.png);
    padding-left: 15px;
   }

   .game__info {
    margin-top: 3px;
    gap: 62px;
   }

   .game__info--1 {
    margin-top: 48px;
    margin-left: 7px;
   }

   .game__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    text-align: center;
    padding-left: 5px;
    padding-bottom: 32px;
   }
   
   .slogan__info {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    width: 343px;
   }

   .btn__info {
    margin-left: 54px;
    margin-top: 32px;
    }

    .game__info--img {
        display: none;
    }

    .game__info--imgMobile {
        padding-left: 6px;
    }
   }

